body { 
	font-family: calibri, sans-serif, monospace;
}

fieldset {
	all: unset;
}

.Spinner {
	height: 25px;
	width: 25px;
	display: block;
	border: 10px solid;
	border-color: lightblue lightblue darkblue darkblue;
	border-radius: 50%;
	margin: 20px 0px 0px 20px;
	animation: spin 2.5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotateZ(0deg);
	}
	25% {
		transform: rotateZ(90deg);
	}
	50% {
		transform: rotateZ(180deg);
	}
	75% {
		transform: rotateZ(270deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
